<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture.registration.login.repository.mapper.LoginMapper">

    <select id="student" resultType="Long">
        select student_id from student
        <where>
            student_id = #{studentId}
        </where>
    </select>

    <select id="professor" resultType="Long">
        select professor_id from professor
        <where>
            professor_id = #{professorId}
        </where>
    </select>

    <select id="manager" resultType="Long">
        select manager_id from manager
        <where>
            manager_id = #{managerId}
        </where>
    </select>
</mapper>